{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Opiniones sobre Cruceros - ReleCloud
{% endblock title %}

{% block content %}

       <!-- Mostrar opiniones existentes -->
       <h2>Opiniones sobre Cruceros</h2>
       {% for opinion in opinions %}
           <p>{{ opinion.name }} dice: {{ opinion.opinion }} y pone una valoración de: {{opinion.valoración}}</p>
       {% endfor %}
    <!-- Formulario para agregar nuevas opiniones -->
    <h2>Añadir nueva opinión</h2>
    <form method="post" action="{% url 'opinion' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
    

{% endblock content %}